<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_tk_pertiwi_white"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_tk_pertiwi_white"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPertiwiKab">

        <!-- Splash Screen sebagai halaman pertama -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MyPertiwiKab.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.MyPertiwiKab.NoActionBar" />

        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".AbsensiDatangActivity" />
        <activity android:name=".AbsensiPulangActivity" />
        <activity android:name=".OTPVerificationActivity" />

        <activity
            android:name=".FiturActivity"
            android:theme="@style/Theme.MyPertiwiKab.NoActionBar" />
        <activity android:name=".RegisterActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
